{% extends '../base/Admin_base.html' %}
{% load static %}

{% block content %}
</head>
<body>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Candidate Application Details</h5>
        <!-- Dynamically display data from the JSONField -->
        {% for key, value in data.items %}
            {% if key != 'Picture' %}
                <p class="card-text">{{ key|title }}: {{ value }}</p>
            {% else %}
                <!-- Assuming 'picture' is a key in your JSONField that contains an image URL -->
                <img src="{{ value }}" alt="Candidate picture" style="width: 200px; height: auto;">
            {% endif %}
        {% endfor %}
        <br><br><br>
        <a href="{% url 'approved' application.id %}" class="card-link">Approve</a>
        <a href="{% url 'reject' application.id %}" class="card-link">Reject</a>
      </div>
    </div>
    
    </body>
    {% endblock %}