{% extends '../base/Admin_base.html' %}
{% load static %}

{% block content %}
  <!-- main -->
  <main class="main-container">
    <div class="main-title">
        <h2>Dashboard</h2>
    </div>

    <div class="main-cards">

        <div class="card">
            <div class="card-inner">
                <h3>Total No. of Voters</h3>
                <span class="material-icons-outlined">person_outline</span>
            </div>
            <h1></h1>
            <h3> <center><a href="voters.html" style="text-decoration: none;color:white">View More</a> </center></h3>
        </div>

        <div class="card">
            <div class="card-inner">
                <h3>Total No. of Candidates</h3>
                <span class="material-icons-outlined">assignment_ind</span>
            </div>
            <h1></h1>
            <h3> <center><a href="candidates.html" style="text-decoration: none;color:white">View More</a> </center></h3>
        </div>

        <div class="card">
            <div class="card-inner">
                <h3>Partylists</h3>
                <span class="material-icons-outlined">groups</span>
            </div>
            <h1></h1>
            <h3> <center><a href="partylist.html" style="text-decoration: none;color:white">View More</a> </center></h3>
        </div>

        
        <div class="card">
            <div class="card-inner">
                <h3>Reports</h3>
                <span class="material-icons-outlined">fact_check</span>
            </div>
            <h3> <center>View More</center></h3>
        </div>

    
    </div>

    <div class="charts">

        <div class="charts-cart">
            <h2 class="chart-title"></h2>
            <div id="bar-chart"></div>
        </div>

        <div class="charts-cart">
            <h2 class="chart-title"></h2>
            <div id="area-chart"></div>
        </div>
    </div>
</main>
<!-- end main -->


</div>
<!-- SCRIPTS -->

<!-- APEX -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js"></script>
<!-- CUSTOM JS -->
<script src="js/scripts.js"></script>
{% endblock %}